<br>
<div class="container-fluid">
    <header class="row  head">
      <div class="col-md-3 p-3">
          <img src="assets/img/logo1.jpg" class="img-thumbnail" alt="...">
      </div>
      <div class="col-md-9 p-5">
          <h2 class="fst-italic">Bonjour M. Olatundji ALY</h2>
          <h4 class="fst-italic">Bienvenu dans votre {{title}}</h4>
      </div>
    </header>
</div><br>
  
  <div class="container">
    <div class="row">
     <div class="col-md-3">
      <iframe name="InlineFrame1" id="InlineFrame1" style="width:180px;height:220px;" src="https://www.mathieuweb.fr/calendrier/calendrier-des-semaines.php?nb_mois=1&nb_mois_ligne=4&mois=&an=&langue=fr&texte_color=B9CBDD&week_color=DAE9F8&week_end_color=C7DAED&police_color=453413&sel=true" scrolling="no" frameborder="0" allowtransparency="true"></iframe>
         <div class="list-group">
             <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
               Acceuil
             </a>
             <a routerLink="/Propriétés/Listebiens" routerLinkActive="active" class="list-group-item list-group-item-action d-flex">Les Propriétés <span class="material-icons">
              home
              </span></a>
             <a  class="list-group-item list-group-item-action" routerLink="/Locations">Locations</a>
             <a routerLink="/Clients/Listeclient" routerLinkActive="active" class="list-group-item list-group-item-action d-flex">Clients <span class="material-icons">
              contacts
              </span></a>
             <a href="#" class="list-group-item list-group-item-action d-flex">Paramètres <span class="material-icons">
              settings
              </span></a>
         </div><br>
         
     </div>
     <div class="col-md-9">
         <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
             <div class="carousel-inner">
               <div class="carousel-item active">
                 <img src="assets/img/bed.jpg" class="d-block w-100" alt="bed">
               </div>
               <div class="carousel-item">
                 <img src="assets/img/bedroom.jpg" class="d-block w-100" alt="bedroom">
               </div>
               <div class="carousel-item">
                 <img src="assets/img/indoors.jpg" class="d-block w-100" alt="indoors">
               </div>
             </div>
         </div>
     </div>
    </div>
  </div><br>